name: Billing API CI/CD

on:
  push:
    branches:
      - main
      - 'feature/**'

jobs:
  # Only runs for features
  deploy-dev:
    if: startsWith(github.ref_name, 'feature/')
    uses: khoi-thinh/ci-cd-templates/.github/workflows/node-ec2.yaml@v4
    with:
      app_name: billing-api
      deploy_path: /opt/billing-api
      environment: dev
      host: ${{ secrets.DEV_EC2_HOST }}
    secrets: inherit

  # Only runs for main
  deploy-prod:
    if: github.ref_name == 'main'
    uses: khoi-thinh/ci-cd-templates/.github/workflows/node-ec2.yaml@v4
    with:
      app_name: billing-api
      deploy_path: /opt/billing-api
      environment: production
      host: ${{ secrets.PROD_EC2_HOST }}
    secrets: inherit
