name: Billing API CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  pipeline:
    uses: khoi-thinh/ci-cd-templates/.github/workflows/node-ec2.yaml@v4
    with:
      app_name: billing-api
      deploy_path: /opt/billing-api
      start_command: "node src/index.js"
    secrets: inherit 
